body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header-area{
    background-color: #f7f1e3;
}
.container{
    display: flex;
    padding-bottom: 75px;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    list-style: none;
}
a {
    text-decoration: none;
    justify-content: space-around;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #3f51b5;;
    font-size: 17px;
    font-weight: 700;
    transition: 1s;
}
.menu ul li:hover a, .active{
    color: #d35400;
}
.control-width {
    margin-top: 100px;
    width: 44%;
}
.width-half{
    width: 50%;
    margin-left: 5%;
    padding: 40px 40px 0 40px;
}
.word-color{
    color: #d35400;
}
h1{
    font-weight: 700;
    font-size: 50px;
    color: #34495e;
    margin: 0%;
}
h2,h3{
    font-weight: 700;
    font-size: 30px;
    color: #34495e;
    margin-bottom: 10px;
}
p{
    line-height: 1.6;
    padding: 10px;
}
.width-half p {
    padding: 20px 0;
    margin-bottom: 7%;
}
.btn-style {
    text-decoration: none;
    background: linear-gradient(#fc4a1a, #f7b733);
    padding: 13px 31px;
    color: white;
    border-radius: 18px;
    font-size: 20px;
}
.width-half img{
    width: 98%;
}

/*contact area*/
.contact-area{
    display: flex;
    background-image: url(images/shapes/7.png);
}
#images {
    width: 295px;
    height: auto;
    padding-left: 35px;
}
#parag{
    margin-bottom: 87px;
}

/*recipies area*/
.recipies-area{
    background-color: white;
}
.recipie-meaning {
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.title-area{
    display: flex;
    padding: 0px 40px;
}
.title1 {
    border: 1px solid white;
    box-shadow: 5px 7px 10px gray;
    margin: 10px 20px 20px 20px;
    border-radius: 30px;
    padding: 10px;
}
.title1 img {
    width: 100%;
    height: auto;
}

.follower-item {
    display: flex;
    box-shadow: 5px 3px 14px #e8e1e1;
    margin: 65px 60px;
    border-radius: 10px;
}
.follower1{
   margin: auto;
   padding: 35px;
}
.follower h1,p{
    color: rebeccapurple;
    margin: 0;
}

.footer-area{
    background-color: #000000;
}
.footer-item{
    text-align: center;
    padding: 50px;
}

.footer-item p{
    margin-bottom: 45px;
    color: #969083;
}


